#emailaddress {
  font-family: helvetica,arial,sans-serif;
  font-size: 12;
  color: #96160B;  
}
#mod {
  position: absolute;
  left: 400px;
  top: 42px;
  font-family: helvetica,arial,sans-serif;
  font-size: 22;
  color: #96160B;  
}
.box {
  width: auto;
  margin: 5px;
  float: left;
  border: 1px solid black;
}
h5.headers {
  margin: 2px;
  background-color: #cccccc;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 10;
  width: 235px;
}
h6.headers {
  margin: 2px;
  background-color: #cccccc;
  font-family: verdana,helvetica,arial,sans-serif;
  font-size: 10;
  width: 235px;
}

